[Unit]
Description=Multirole YGOPro Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Multirole
ExecStart=/home/ubuntu/Multirole/multirole
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target